.darkmode {
  background-color: #fff;
  color: #333;
}


.dark-mode .darkmode {
  background-color: #333;
  color: #fff;
}

.dark-mode-toggle {
  margin-top: 0.5rem;
  background-color: white;
  border-radius: 50%;
}