/
.darkmode {
    background-color: #fff;
    color: #333; 
  }
  
  
  .dark-mode .darkmode {
    background-color: #333; 
    color: #fff; 
  }
  
  .dark-mode-toggle {
    background-color: #333; 
    color: #fff; 
    border: 1px solid #fff; 
  }
  