.auth-section {
  @apply relative w-full h-full flex-row flex pt-[5px];
  @apply py-14 md:py-0;
} 

.auth-section.dark-mode {
  @apply bg-[#1a1a1a];
}
 
.auth-section.white-mode {
  @apply bg-[linear-gradient(_rgb(255,255,255),rgb(241,234,250)_48%,rgb(255,255,255)_)];
}

.auth-img {
  @apply w-2/5;
  @apply hidden md:block;
}

.auth-img > img {
  @apply w-full h-full object-cover p-2.5 rounded-[30px];
}

.auth-right {
  @apply w-3/5 flex flex-row justify-center overflow-y-auto mt-20;
  @apply w-full md:w-[60%] px-4 md:px-0;
}

.auth-form {
  @apply flex-col max-w-[530px];
}

.auth-form h1 {
  @apply font-semibold;
  font: bold;
  @apply text-4xl md:text-[42px];
}

.auth-form hr {
  @apply border-t-slate-200 mt-[30px] mb-[15px] mx-0 border-t-2 border-solid;
}

.auth-textbox {
  @apply text-base w-full flex items-center mx-0 my-[15px] p-3.5 rounded-xl border-[none];
  background: #fff;
}

.auth-textbox input {
  @apply font-[normal] w-full bg-white pl-4 border-[none];
  outline: none;
}

.auth-namesec > .auth-textbox {
  @apply ml-[5px] my-0;
}

.error-message {
  @apply text-[rgb(255,0,0)] text-left font-semibold w-6/12 ml-4;
}

.auth-namesec {
  @apply flex justify-between w-full items-center text-center;
}

.auth-miscellaneous {
  @apply flex flex-col;
}

.auth-checkbox {
  @apply cursor-pointer flex flex-row items-start;
  @apply items-baseline md:items-center;
}

.auth-link {
  @apply font-medium text-black hover:underline hover:cursor-pointer;
}

.auth-btn {
  @apply text-base w-full flex text-white items-center justify-center mx-0 my-[15px] p-3.5 rounded-xl border-[none];
  background: #000000 !important;
}

.auth-textbox-footer {
  @apply flex flex-col gap-2.5 mt-[50px];
}

.auth-textbox-footer span {
  @apply font-medium text-[#727996];
}