.joinus-section {
  justify-content: center;
  display: flex;
}

.joinus-container {
  display: flex;
  gap: 1rem;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(163deg, #000000, #0b1059);
  color: #ffffff;
  padding: 2vh 8vh;
  border-radius: 4vh;
  width: 83vw;
  height: 35vh;
}

.invite-content h1 {
  color: #ffffff;
  font-size: 4.5vh;
  text-align: left;
  font-weight: 550;
  line-height: 1.2;
}

.highlight-text {
  color: #157dde;
}

.invite-content p {
  font-size: 2.5vh;
  color: #a0f3e1;
  margin-top: 1vh;
}

.join-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: #055eac;
  font-weight: 500;
  font-size: 2.5vh;
  border-radius: 2vh;
  border: none;
  width: 300px;
  height: 60px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .joinus-container {
    flex-direction: column;
    height: auto;
  }
  .invite-content :is(h1, p) {
    text-align: center;
  }
  .invite-content{
    min-height: 200px;
    align-items: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .join-button {
    font-weight: 400;
    font-size: 2vh;
    border-radius: 2vh;
    width: 300px;
    height: 40px;
  }
}
