.faq_container {
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: initial;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.faq_head {
  font-family: sans-serif;
  font-size: 3.75rem;
  font-weight: 600;
  color: black;
  line-height: 1;
  text-align: center;
}
.q_list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  max-width: 56rem;
}
.q_list ul {
  list-style: none;
  min-width: 1040px;
  max-height: 600px;
  line-height: 1.5rem;
}
.q_area {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}
.q_list li {
  min-width: 70%;
  display: flex;
  flex-direction: column;
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  min-height: 80px;
  max-height: 160px;
  line-height: 1.75rem;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 1rem;
  margin-left: 1rem;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); */
}
.q_list li span {
  padding-right: 10px;
}

.ans_section {
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  overflow-wrap: break-word;
}
.ans_text {
  text-align: left;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.add_icon {
  padding-left: 0.5rem;
  height: 2rem;
  width: 2rem;
  font: bold;
}
@media only screen and (max-width: 1096px) {
  .faq_head {
    font-size: 3.5rem;
  }

  .q_list ul {
    min-width: auto;
  }
  .ans_section {
    min-width: auto;
  }

  .q_area {
    font-family: sans-serif;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .q_list ul {
    min-width: auto;
  }
  .ans_section {
    min-width: auto;
  }
  .q_list ul li {
    font-family: sans-serif;
    font-size: 13px;
  }
}
@media only screen and (max-width: 530px) {
  .q_list ul {
    min-width: auto;
  }
  .ans_section {
    min-width: auto;
  }
  .q_list ul li {
    font-family: sans-serif;
    font-size: 13px;
  }
}

@media only screen and (max-width: 430px) {
  .faq_head {
    font-size: 2.5rem;
  }
  .q_list ul {
    min-width: auto;
  }
  .ans_section {
    min-width: auto;
  }
  .q_list ul li {
    font-size: 12px;
  }
}
