.blog-section-dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

.blog-section-white-mode {
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(235,244,252,0.8) 100%);
}