.home-section {
  position: relative;

  width: 100%;
  height: 100%;
}

.home-section.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

.home-section.white-mode {
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(241, 234, 250) 48%,
    rgb(255, 255, 255)
  );
}
