h5{
    color: grey;
}
.trust-developers-container {
    text-align: center;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-container img {
    width: 100px; 
    margin: 0 55px; 
  }
  
  .logo-container img:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
  }

  .logo-container img:not(:hover) {
    transition: all 0.3s ease-in-out;
    transform: scale(1);
  }