@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

body.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

@layer utilities {
  .tools-menu-3d-rotate {
    transform: perspective(60px) rotateX(-5deg);
  }
}
