.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px 20px;
}

.navbar.dark-mode {
  background-color: #333;
  color: #ffffff;
}

.navbar.white-mode {
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(241, 234, 250) 48%,
    rgb(255, 255, 255)
  );
}

.logo {
  width: 150px;
}

.navbar-middle {
  display: flex;
  flex-direction: row;
}

.nav-items {
  display: flex;
}

.nav-item {
  margin: 0 25px;
  padding-top: 10px;
  cursor: pointer;
}

.nav-signup {
  border-radius: 8px;
  padding: 10px 28px;
  margin: 0 25px;
  color: #000000;
  transition: background-color 0.3s ease;
  display: flex;
  font-weight: 500;
}

.nav-signup.dark-mode,
.nav-signup.white-mode:hover {
  background-color: #ffffff;
  box-shadow: 0 0 1px rgba(69, 66, 66, 0.5);
}

.nav-signup.white-mode,
.nav-signup.dark-mode:hover {
  background-color: rgb(242, 243, 248);
}

.navbar-right {
  width: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-checkbox[type="checkbox"] {
  display: none;
  visibility: hidden;
  position: absolute; /* Added position: absolute */
}

.nav-toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 100px;
  height: 50px;
  background: rgb(98, 98, 98);
  display: block;
  border-radius: 100px;
  position: relative;
  transition: 0.3s;

}

.nav-toggle:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;

}

.nav-checkbox:checked + .nav-toggle:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);

}

.nav-toggle:active:after {
  width: 60px;

}
